{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": false,
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "**/aura/**/*",
            "options": { "trailingComma": "es5" }
        },
        {
            "files": "**/lwc/**/*.html",
            "options": { "parser": "lwc" }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": { "parser": "html" }
        }
    ]
}
